.footer {
    max-width: 882px;
    margin: 0 auto 0;
    padding-bottom: 60px;
}

@media screen and (max-width: 900px) { 
    .footer {
        max-width: 760px;

    }
}

@media screen and (max-width: 767px) {    
    .footer {
       max-width: 282px;
       margin: 0 auto 0;
   }
}